sdk/sample-soap-endpoint/src/main/resources/META-INF/wsdl/HelloWorld.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 -->
<xsd:schema targetNamespace="http://ddf.sdk/soap/hello"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://ddf.sdk/soap/hello"
            elementFormDefault="qualified" attributeFormDefault="qualified"
            version="1.1">

    <xsd:complexType name="HelloWorld">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Test.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence></xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="HelloWorldResponse">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Test.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="result" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Test.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="helloWorld" type="tns:HelloWorld"/>
    <xsd:element name="helloWorldResponse" type="tns:HelloWorldResponse"/>
</xsd:schema>
