catalog/spatial/registry/registry-ebrim-transformer/src/main/xsd/skinny-rim.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
-->
<schema xmlns:tns="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0"
        xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" elementFormDefault="qualified"
        attributeFormDefault="unqualified">
    <annotation>
        <documentation xml:lang="en">
            The schema for OASIS ebXML Registry Information Model
        </documentation>
    </annotation>
    <import namespace="http://www.w3.org/XML/1998/namespace"
            schemaLocation="http://www.w3.org/2001/xml.xsd"/>
    <!--  Begin information model mapping from ebRIM.  -->
    <!--  Define Data Types  -->
    <simpleType name="referenceURI">
        <annotation>
            <documentation xml:lang="en">
                referenceURI is used by reference attributes within RIM. Each attribute of type
                referenceURI references a RegistryObject with specified URI as id.
            </documentation>
        </annotation>
        <restriction base="anyURI"/>
    </simpleType>
    <simpleType name="String4">
        <restriction base="string">
            <maxLength value="4"/>
        </restriction>
    </simpleType>
    <simpleType name="String8">
        <restriction base="string">
            <maxLength value="8"/>
        </restriction>
    </simpleType>
    <simpleType name="String16">
        <restriction base="string">
            <maxLength value="16"/>
        </restriction>
    </simpleType>
    <simpleType name="String32">
        <restriction base="string">
            <maxLength value="32"/>
        </restriction>
    </simpleType>
    <simpleType name="ShortName">
        <restriction base="string">
            <maxLength value="64"/>
        </restriction>
    </simpleType>
    <simpleType name="LongName">
        <restriction base="string">
            <maxLength value="256"/>
        </restriction>
    </simpleType>
    <simpleType name="FreeFormText">
        <restriction base="string">
            <maxLength value="1024"/>
        </restriction>
    </simpleType>
    <complexType name="InternationalStringType">
        <sequence maxOccurs="unbounded" minOccurs="0">
            <element ref="tns:LocalizedString"/>
        </sequence>
    </complexType>
    <element name="InternationalString" type="tns:InternationalStringType"/>
    <element name="Name" type="tns:InternationalStringType"/>
    <element name="Description" type="tns:InternationalStringType"/>
    <complexType name="LocalizedStringType">
        <attribute ref="xml:lang" default="en-US"/>
        <attribute default="UTF-8" name="charset"/>
        <attribute name="value" type="tns:FreeFormText" use="required"/>
    </complexType>
    <element name="LocalizedString" type="tns:LocalizedStringType"/>
    <complexType name="SlotType1">
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="tns:ValueList"/>
        </sequence>
        <attribute name="name" type="tns:LongName" use="required"/>
        <!--
slotType value MUST reference a ClassificationNode in the canonical DataType scheme
-->
        <attribute name="slotType" type="tns:referenceURI" use="optional"/>
    </complexType>
    <element name="Slot" type="tns:SlotType1"/>
    <complexType name="ValueListType">
        <sequence maxOccurs="unbounded" minOccurs="0">
            <element ref="tns:Value"/>
        </sequence>
    </complexType>
    <element name="ValueList" type="tns:ValueListType"/>
    <element name="Value" type="tns:LongName"/>
    <complexType name="SlotListType">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" ref="tns:Slot"/>
        </sequence>
    </complexType>
    <element name="SlotList" type="tns:SlotListType"/>
    <complexType name="IdentifiableType">
        <annotation>
            <documentation xml:lang="en">
                Common base type for all types that have unique identity. If id is provided and is
                not in proper URN syntax then it is used for linkage within document and is ignored
                by the registry. In this case the registry generates a UUID URN for id attribute. id
                must not be null when object is retrieved from the registry.
            </documentation>
        </annotation>
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" ref="tns:Slot"/>
        </sequence>
        <attribute name="id" type="anyURI" use="required"/>
        <!--
            home attribute is required only for remote ObjectRef
        -->
        <attribute name="home" type="anyURI" use="optional"/>
    </complexType>
    <element name="Identifiable" type="tns:IdentifiableType"/>

    <complexType name="RegistryObjectType">
        <complexContent>
            <extension base="tns:IdentifiableType">
                <sequence maxOccurs="1" minOccurs="0">
                    <element maxOccurs="1" minOccurs="0" ref="tns:Name"/>
                    <element maxOccurs="1" minOccurs="0" ref="tns:Description"/>
                    <element maxOccurs="1" minOccurs="0" name="VersionInfo"
                             type="tns:VersionInfoType"/>
                    <element maxOccurs="unbounded" minOccurs="0" ref="tns:Classification"/>
                    <element maxOccurs="unbounded" minOccurs="0" ref="tns:ExternalIdentifier"/>
                </sequence>
                <attribute name="lid" type="anyURI" use="optional"/>
                <attribute name="objectType" type="tns:referenceURI" use="optional"/>
                <attribute name="status" type="tns:referenceURI" use="optional"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="RegistryObject" type="tns:RegistryObjectType"
             substitutionGroup="tns:Identifiable"/>
    <complexType name="ClassificationType">
        <annotation>
            <documentation xml:lang="en">
                Classification is the mapping of the same named interface in ebRIM. It extends
                RegistryObject. A Classification specifies references to two registry entrys. The
                classifiedObject is id of the Object being classified. The classificationNode is id
                of the ClassificationNode classying the object
            </documentation>
        </annotation>
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <attribute name="classificationScheme" type="tns:referenceURI" use="optional"/>
                <attribute name="classifiedObject" type="tns:referenceURI" use="required"/>
                <attribute name="classificationNode" type="tns:referenceURI" use="optional"/>
                <attribute name="nodeRepresentation" type="tns:LongName" use="optional"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="Classification" type="tns:ClassificationType"
             substitutionGroup="tns:Identifiable"/>
    <complexType name="ClassificationNodeType">
        <annotation>
            <documentation xml:lang="en">
                ClassificationNode is the mapping of the same named interface in ebRIM. It extends
                RegistryObject. ClassificationNode is used to submit a Classification tree to the
                Registry. The parent attribute is the id to the parent node. code is an optional
                code value for a ClassificationNode often defined by an external taxonomy (e.g.
                NAICS)
            </documentation>
        </annotation>
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" ref="tns:ClassificationNode"/>
                </sequence>
                <attribute name="parent" type="tns:referenceURI" use="optional"/>
                <attribute name="code" type="tns:LongName" use="optional"/>
                <attribute name="path" type="string" use="optional"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="ClassificationNode" type="tns:ClassificationNodeType"
             substitutionGroup="tns:Identifiable"/>
    <complexType name="ExternalIdentifierType">
        <annotation>
            <documentation xml:lang="en">
                ExternalIdentifier is the mapping of the same named interface in ebRIM. It extends
                RegistryObject.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <attribute name="registryObject" type="tns:referenceURI" use="required"/>
                <attribute name="identificationScheme" type="tns:referenceURI" use="required"/>
                <attribute name="value" type="tns:LongName" use="required"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="ExternalIdentifier" type="tns:ExternalIdentifierType"
             substitutionGroup="tns:Identifiable"/>
    <complexType name="ExtrinsicObjectType">
        <annotation>
            <documentation xml:lang="en">
                ExtrinsicObject is the mapping of the same named interface in ebRIM. It extends
                RegistryObject.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="ContentVersionInfo"
                             type="tns:VersionInfoType"/>
                </sequence>
                <attribute default="application/octet-stream" name="mimeType" type="tns:LongName"/>
                <attribute default="false" name="isOpaque" type="boolean"/>
            </extension>
        </complexContent>
    </complexType>
    <!--
        Following element decl nneds to be lower case but using upper camel case for backward compatibility
    -->
    <element name="ExtrinsicObject" type="tns:ExtrinsicObjectType"
             substitutionGroup="tns:Identifiable"/>
    <element name="Address" type="tns:PostalAddressType"/>
    <complexType name="OrganizationType">
        <annotation>
            <documentation xml:lang="en">Mapping of the same named interface in ebRIM.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" ref="tns:Address"/>
                    <element maxOccurs="unbounded" minOccurs="0" ref="tns:TelephoneNumber"/>
                    <element maxOccurs="unbounded" minOccurs="0" ref="tns:EmailAddress"/>
                </sequence>
                <attribute name="parent" type="tns:referenceURI"/>
                <attribute name="primaryContact" type="tns:referenceURI" use="optional"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="Organization" type="tns:OrganizationType" substitutionGroup="tns:Identifiable"/>
    <complexType name="PersonNameType">
        <annotation>
            <documentation xml:lang="en">Mapping of the same named interface in ebRIM.
            </documentation>
        </annotation>
        <attribute name="firstName" type="tns:ShortName" use="optional"/>
        <attribute name="middleName" type="tns:ShortName" use="optional"/>
        <attribute name="lastName" type="tns:ShortName" use="optional"/>
    </complexType>
    <element name="PersonName" type="tns:PersonNameType"/>
    <complexType name="EmailAddressType">
        <annotation>
            <documentation xml:lang="en">Mapping of the same named interface in ebRIM.
            </documentation>
        </annotation>
        <attribute name="address" type="tns:ShortName" use="required"/>
        <attribute name="type" type="tns:String32" use="optional"/>
    </complexType>
    <element name="EmailAddress" type="tns:EmailAddressType"/>
    <complexType name="PostalAddressType">
        <annotation>
            <documentation xml:lang="en">Mapping of the same named interface in ebRIM.
            </documentation>
        </annotation>
        <attribute name="city" type="tns:ShortName" use="optional"/>
        <attribute name="country" type="tns:ShortName" use="optional"/>
        <attribute name="postalCode" type="tns:ShortName" use="optional"/>
        <attribute name="stateOrProvince" type="tns:ShortName" use="optional"/>
        <attribute name="street" type="tns:ShortName" use="optional"/>
        <attribute name="streetNumber" type="tns:String32" use="optional"/>
    </complexType>
    <element name="PostalAddress" type="tns:PostalAddressType"/>
    <complexType name="VersionInfoType">
        <attribute name="versionName" type="tns:String16" use="optional" default="1.1"/>
        <attribute name="comment" type="string" use="optional"/>
    </complexType>
    <complexType name="ServiceType">
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" ref="tns:ServiceBinding"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="Service" type="tns:ServiceType" substitutionGroup="tns:Identifiable"/>
    <complexType name="ServiceBindingType">
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" ref="tns:SpecificationLink"/>
                </sequence>
                <attribute name="service" type="tns:referenceURI" use="required"/>
                <attribute name="accessURI" type="anyURI" use="optional"/>
                <attribute name="targetBinding" type="tns:referenceURI" use="optional"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="ServiceBinding" type="tns:ServiceBindingType"
             substitutionGroup="tns:Identifiable"/>
    <complexType name="SpecificationLinkType">
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" ref="tns:UsageDescription"/>
                    <element maxOccurs="unbounded" minOccurs="0" ref="tns:UsageParameter"/>
                </sequence>
                <attribute name="serviceBinding" type="tns:referenceURI" use="required"/>
                <attribute name="specificationObject" type="tns:referenceURI" use="required"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="SpecificationLink" type="tns:SpecificationLinkType"
             substitutionGroup="tns:Identifiable"/>
    <element name="UsageDescription" type="tns:InternationalStringType"/>
    <element name="UsageParameter" type="tns:FreeFormText"/>
    <complexType name="TelephoneNumberType">
        <annotation>
            <documentation xml:lang="en">
                TelephoneNumber is the mapping of the same named interface in ebRIM.
            </documentation>
        </annotation>
        <attribute name="areaCode" type="tns:String8" use="optional"/>
        <attribute name="countryCode" type="tns:String8" use="optional"/>
        <attribute name="extension" type="tns:String8" use="optional"/>
        <attribute name="number" type="tns:String16" use="optional"/>
        <attribute name="phoneType" type="tns:String32" use="optional"/>
    </complexType>
    <element name="TelephoneNumber" type="tns:TelephoneNumberType"/>
    <complexType name="TelephoneNumberListType">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" ref="tns:TelephoneNumber"/>
        </sequence>
    </complexType>
</schema>